.img {
    width: 255px;
}


.labelTitle {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    margin-bottom: 14px;
    line-height: 24px;
}

Form {
    margin-top: 64px;
}

.inputData {
    width: 420px;
    height: 54px;
    border: 1px solid #E0E5E9;
    border-radius: 8px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.inputData:active {
    border-color: red;
}

.inputData::placeholder {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 215px;
}


.inputItemContainer {
    margin-bottom: 30px;
}



.signInBtn{
    background-color: #065BEA;
    color: #FFFFFF;
    width: 420px;
    height: 54px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    position: relative;
}

.signInBtn:hover {
    background-color: #0451D2;
    cursor: pointer;
}

.signInBtn:after {
    content: '';
    position: absolute;
    left: 4.52%;
    right: 4.29%;
    top: 54.39%;
    bottom: 0%;
    z-index: -1;

    background: #065BEA;
    opacity: 0.83;
    filter: blur(40px);
    border-radius: 8px;
}


.signInBtn:disabled {
    background-color: #C6D0E0;
}

.signInBtn:disabled:after {
    opacity: 0;
}





.footerContainer {
    position: absolute;
    bottom: 40px;
    width: 420px;
}

.footerContainer a {
    margin-right: 25px;
    margin-bottom: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #75777A;
}

.footerContainer a:hover {
    color: #333333;
}

@media screen and (max-width: 450px) {
    .img {
        width: 200px;
        margin-left: 150px;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
    }

    Form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputData {
        width: 350px;
        height: 54px;
        border-color: white;
        padding-left: 20px;
    }

    .signInBtn{
        width: 200px;
        font-size: 13px;
        line-height: 20px;
        background-color: white;
        color: #065BEA;
    }

    .labelTitle {
        font-size: 15px;
        color: white;
    }

    .footerContainer {
        position: absolute;
        bottom: 40px;
        width: 400px;
        text-align: left;
    }

    .footerContainer a {
        margin-right: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
        color: black;
    }

    .footerContainer a:hover {
        color: white;
    }
}


